.secondary-layout {
  display: grid;
  grid-template-areas:
    'header-nav header-nav header-nav header-nav'
    '. main-article main-article .'
    '. main-article main-article .'
    'footer footer footer footer';
  grid-template-rows: 50px, 1fr, 1fr, 20px;
  grid-template-columns: repeat(4, 1fr);

  @include mediaMd {
    grid-template-areas:
      'header-nav'
      'main-article'
      'footer';
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  }

  > .header-nav {
    grid-area: header-nav;
    @include mediaSm {
      height: 14vh;
    }
  }

  > .main-article {
    grid-area: main-article;
    background-color: #fff;
  }

  > .main-footer {
    grid-area: footer;
  }
}
