.secondary-layout {
  height: 100vh;
  display: grid;
  grid-template-areas:
    'header-nav header-nav header-nav'
    '. main-article .'
    '. main-article .'
    'footer footer footer';
  grid-template-rows: 55px auto auto 20px;
  grid-template-columns: 150px auto 150px;

  @include mediaMd {
    grid-template-areas:
      'header-nav'
      'main-article'
      'footer';
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  }

  > .header-nav {
    grid-area: header-nav;
    @include mediaSm {
    }
  }

  > .main-article {
    grid-area: main-article;
    background-color: #fff;

    > .gallery {
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(15em, 1fr));
      grid-gap: 4em;
    }

    > .observation-container {
      display: flex;
      flex-direction: column;

      > .single-observation {
        display: flex;
        flex-direction: row;

        @include mediaSm {
          flex-direction: column;
        }
      }
    }
  }

  > .main-footer {
    grid-area: footer;
  }
}
